@import "../@common/css/_reset";

.layer{
	display:none;
	border:1px solid #ccc;
	padding:10px;
	background:#fff;
	position:absolute;
	top:50%;
	left:50%;
	width:500px;
	min-height:300px;
	transform:translateX(-50%) translateY(-50%);

	.layer-section &{
		display:block;
	}

	&.on{
		display:block;
	}
}

#layer-section.active{
	background:rgba(0,0,0,0.8);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
}


.btn.close{ position:absolute; right:15px; top:15px;}