@import "../@common/css/_reset";
[data-ui-slide] .controller a.active{ background-color:#f00; color:#fff; }
[data-ui-slide] .slide-area{ overflow:hidden; height:115px; position:relative; border:1px solid #ccc; margin-top:10px;}
[data-ui-slide] .slide-item{ text-align:center; height:115px;}







